
.title{
    display: block;
    flex: 1 1;
    font-weight: 900;
    padding: 14px 20px;
}

.navbar{
    background-image: url(https://media.giphy.com/media/YnlDGfCxyOIYTDp86I/giphy.gif);
}

.login{
    width: 3rem;
    height: auto;
}

.login-img{
    width: 100%;
}

.home{
    width: 3rem;
    height: auto;
}

.home-img{
    width: 100%;
}
.cart{
    width: 3rem;
    height: auto;
}

.cart-img{
    width: 100%;
}

.shop-img{
    width: 100%;
}

.shop{
    width: 3rem;
    height: auto;
}

.logout{
    width: 3rem;
    height: auto;
}
.logout-img{
    width: 100%;
}

.navbar-expand-lg .navbar-collapse {
    display: flex;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    gap: 2rem;
}

.navbar-expand-lg .nav-link {
    border: transparent;
    color: rgb(255, 255, 255);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
 
}

.title {
    color: aliceblue;   
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    color: white;
    background-color: #3975e6;
}