
.App {
    font-family: sans-serif;
    text-align: center;
    
  }
  
.g-4{
  height:50%;
}
 
Card-Title{
  color: black;
}

Card-Text{
  color: black;
}

.loupe{
  height: 2rem;
}
.product_card-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding-bottom: 30px;
  margin-top: 15px;

}
.product-card{
  margin-top: 3%;
  cursor: pointer;
  border: 2px solid rgb(12, 40, 181);
  width: 250px;
  border-radius: 5%;
  padding: 10px 2% 5px 2%;
  position: relative;
  
}
.product-image{
    display: block;
    height: 250px;
    margin: 0 auto;
    object-fit: contain;
    width: 100%;
}
.cart_box{
  height: 45px;
  width: 40px;
  border-radius: 8%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 5px;
  right: 5%;
  padding: 1px;
  
}
.cart_box img{
  width: 100%;
}
.cart_box:hover{
  background-color: rgb(101, 157, 235);
  box-shadow: 0px 0px 5px .5px rgb(1, 11, 85);
}
.home_input{
  margin-left: 100px;
  margin-right: 100px;
}